# Hardy-Weinberg principle

In [21]:
import pandas as pd

## Download and process the genotype data

In [1]:
mkdir -p data

In [2]:
!scp bionc09:/mnt/sequencedb/1000Genomes/ftp/phase3/20140910/ALL.chr21.phase3_shapeit2_mvncall_integrated_v5.20130502.genotypes.vcf.gz data/1kGP_chr21_raw.vcf.gz

ALL.chr21.phase3_shapeit2_mvncall_integrated_ 100%  203MB   4.1MB/s   00:49

In [3]:
!tabix data/1kGP_chr21_raw.vcf.gz

Keep only biallelic SNPs:

In [4]:
!bcftools view -v snps -m2 -M2 data/1kGP_chr21_raw.vcf.gz -Oz -o data/1kGP_chr21.vcf.gz

Download metadata:

In [15]:
!curl ftp://ftp.1000genomes.ebi.ac.uk/vol1/ftp/release/20130502/integrated_call_samples_v3.20130502.ALL.panel \
    | tail -n+2 \
    > data/1kGP.tsv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 55156  100 55156    0     0  47630      0  0:00:01  0:00:01 --:--:-- 47589

In [20]:
info = pd.read_table("data/1kGP.tsv", header=None, names=["sample", "pop", "superpop", "sex"])
info.head()

    sample  pop superpop     sex
0  HG00096  GBR      EUR    male
1  HG00097  GBR      EUR  female
2  HG00099  GBR      EUR  female
3  HG00100  GBR      EUR  female
4  HG00101  GBR      EUR    male